<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>All notes</title>
		<link rel="stylesheet" type="text/css" href="/notes/URLToResourcesFolder/css/styles.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap" rel="stylesheet">
	</head>
	<body class="centered">
		<div style="margin-top:10%;">
			<form action="notes/new">
				<input type="submit" value="Create a new note"  class="form-submit-button"/>
			</form>
			<div th:each="note : ${notes}" class="notes-list">
				<a th:href="@{/notes/{id} (id=${note.getId()})}"   
				th:text="${note.getId()} + '.' + ${note.getNote()}">note</a>
			</div>
		</div>
	</body>
</html>
